<sh-modal-form [title]="title">
  <form [formGroup]="form" class="variable-form">
    <div class="code-field-block">
      <mat-form-field appearance="outline" class="full-width code-field">
        <mat-label>{{ fieldCode }}</mat-label>
        <input matInput formControlName="code" autocomplete="off" />
      </mat-form-field>
      <p class="code-hint">{{ codeHint }}</p>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ fieldLabel }}</mat-label>
      <input matInput formControlName="label" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ fieldDescription }}</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="isActive">{{ fieldActive }}</mat-checkbox>
  </form>

  <div shModalActions>
    <button mat-stroked-button type="button" (click)="cancel()" [disabled]="saving">{{ cancelLabel }}</button>
    <button mat-flat-button color="primary" type="button" (click)="save()" [disabled]="saving">
      {{ saving ? savingLabel : saveLabel }}
    </button>
  </div>
</sh-modal-form>
