<sh-modal-form [title]="title">
  <form class="doc-req-form" (ngSubmit)="save()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>{{ labels.type }}</mat-label>
      <input matInput [value]="data.documentTypeName" readonly />
    </mat-form-field>

    @if (showAiGroup) {
      <div class="group">
        <span class="group-label">{{ labels.validateAi }}</span>
        <div class="checks">
          @if (data.showValidateAiName) {
            <mat-checkbox
              [checked]="validateAiName"
              [disabled]="data.validateAiNameReadOnly"
              (change)="validateAiName = $event.checked"
            >
              {{ labels.validateName }}
            </mat-checkbox>
          }
          @if (data.showValidateAiValidity) {
            <mat-checkbox
              [checked]="validateAiValidity"
              [disabled]="data.validateAiValidityReadOnly"
              (change)="onValidateValidityChange($event.checked)"
            >
              {{ labels.validateValidity }}
            </mat-checkbox>
          }
        </div>
      </div>
    }

    @if (data.showValidityMonths) {
      <mat-form-field appearance="outline" class="full">
        <mat-label>{{ labels.validityMonths }}</mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="120"
          [placeholder]="labels.validityMonthsPlaceholder"
          [disabled]="data.validityMonthsReadOnly || !validateAiValidity"
          [value]="validityMonths ?? ''"
          (input)="onValidityMonthsInput($any($event.target).value)"
        />
      </mat-form-field>
    }

    @if (data.showMandatory) {
      <div class="group">
        <span class="group-label">{{ labels.mandatory }}</span>
        <mat-radio-group
          [disabled]="data.mandatoryReadOnly"
          [value]="isRequired"
          (change)="isRequired = $event.value"
        >
          <mat-radio-button [value]="true">{{ labels.yes }}</mat-radio-button>
          <mat-radio-button [value]="false">{{ labels.no }}</mat-radio-button>
        </mat-radio-group>
      </div>
    }

    @if (error) {
      <p class="error" role="alert">{{ error }}</p>
    }
  </form>

  <div shModalActions>
    <button mat-stroked-button type="button" (click)="cancel()">{{ labels.cancel }}</button>
    <button mat-flat-button color="primary" type="button" (click)="save()">{{ labels.save }}</button>
  </div>
</sh-modal-form>
