<div class="sh-page">
  <sh-page-header
    [title]="candidateName || ('#' + candidateId)"
    [subtitle]="labels.subtitle">
    @if (backToPreselectionLink) {
      <button mat-stroked-button [routerLink]="backToPreselectionLink">
        <mat-icon>arrow_back</mat-icon> {{ labels.backPreselection }}
      </button>
    }
    <button mat-stroked-button [routerLink]="['/candidates', candidateId, 'edit']">
      <mat-icon>edit</mat-icon> {{ labels.edit }}
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/candidates', candidateId, 'beneficiary']">
      <mat-icon>family_restroom</mat-icon> {{ labels.beneficiaries }}
    </button>
    <button mat-stroked-button [routerLink]="['/candidates', candidateId, 'emergency-contact']">
      <mat-icon>contact_emergency</mat-icon> {{ labels.emergency }}
    </button>
  </sh-page-header>

  <sh-candidate-profile-view [candidateId]="candidateId" />
</div>
